root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line  = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.twig]
indent_size = 2

# Visual Studio Solution Files
[*.sln]
indent_style = tab

# Visual Studio XML Project Files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Various XML Configuration Files
[*.{xml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 2

# JSON Files
[*.{json,json5}]
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# Web Files
[*.{htm,html,htm.twig,html.twig,js,js.twig,ts,tsx,css,sass,scss,less,svg,vue}]
indent_size = 2
