includes:
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
parameters:
    level: 9
    paths:
        - src
        - tests
    ergebnis:
        classesAllowedToBeExtended:
            - RuntimeException
            - SandwaveIo\FSecure\Exception\FSecureException
    disallowedFunctionCalls:
        -
            function: 'dump()'
            message: 'use logger instead'
